@import '@variables';
@import '@mixins';

.button {
  @include font-h3;

  max-height: 44px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 22px;
  outline: none;
  cursor: pointer;

  &_size_small {
    padding: 14px 20px 15px;
  }

  &_size_big {
    min-width: 320px;
    padding: 14px 20px 15px;
  }

  &_size_flexible {
    padding: 9px 20px 10px;
  }

  &_text-color_white {
    color: #fff;
  }

  &_text-color_purple {
    color: $secondColor;
  }

  &_text-color_gray {
    color: $textColor_50;
  }

  &_type_filled {
    background: $mainLinearGradient;

    &:hover,
    &:focus,
    &:disabled {
      background: $mainLinearGradientOpacity_50;
    }
  }

  &_type_bordered {
    background-image: $mainLinearGradient;
    background-origin: border-box;
    border: 2px solid transparent;
    box-shadow: inset 0 44px #fff;

    &:hover,
    &:focus,
    &:disabled {
      background-image: $mainLinearGradientOpacity_50;
    }
  }

  &_type_text {
    background: none;

    &:hover,
    &:focus,
    &:disabled {
      color: $textColor_50;
    }
  }

  &_type_arrow {
    position: relative;

    &::after {
      position: absolute;
      top: 50%;
      right: 14px;
      transform: translate(0, -50%);
      content: '\e900';
      @include icons-font;
    }
  }
}
