include ../heading/heading

mixin menu(options = {})
    -
        const {
            menuOrientation = 'horizontal',
            menuList = [],
            titleVertical = ''
        } = options

    if menuOrientation === 'horizontal'
        ul.menu.menu_type_horizontal
            each item in menuList
                -
                    const classLinkActive = item.active
                            ? "menu__link_active"
                            : ""
                if item.expandable
                    details.menu__expandable
                        summary.menu__expandable-title= item.name
                        each data in item.submenu
                            li.menu__expandable-item
                                a&attributes({
                                    class: "menu__link",
                                    href: data.url
                                })= data.name
                else
                    li.menu__item
                        a&attributes({
                            class: [
                                "menu__link",
                                classLinkActive
                            ],
                            href: item.url
                        })= item.name

    if menuOrientation === 'vertical'
        +heading({title: titleVertical, level: 'h3'})
        ul.menu.menu_type_vertical
            each item in menuList
                li.menu__item
                    a&attributes({
                        class: "menu__link",
                        href: item.url,
                    })= item.name