mixin range-slider(options = {})
    -
        const {
            title = '',
            description = '',
            paramsSlider = {
                min: 500,
                max: 15000,
                from: 5000,
                to: 10000,
                step: 100
            }
        } = options

    .range-slider.js-range-slider
        .range-slider__header
            span.range-slider__title= title
            span.range-slider__value= "1000р - 5000р"
        input&attributes({
            class: [
                "range-slider__input",
                "js-range-slider__input"
            ],
            "data-slider-min": paramsSlider.min,
            "data-slider-max": paramsSlider.max,
            "data-slider-from": paramsSlider.from,
            "data-slider-to": paramsSlider.to,
            "data-slider-step": paramsSlider.step
        })
        if description
            p.range-slider__description= description
