@import '@variables';
@import '@mixins';

.range-slider {
  max-width: 266px;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @include font-h3;

    white-space: nowrap;
    text-transform: uppercase;
  }

  &__value {
    color: $textColor_50;
    font: 400 12px/15px $mainFont;
    text-transform: uppercase;
    border: 0;
  }

  &__input {
  }

  &__description {
    color: $textColor_50;
    font: 400 12px/14px $mainFont;
  }

  .irs--toxin {
    height: 35px;

    .irs-bar {
      top: 18px;
      height: 6px;
      background: $secondLinearGradient;
      border-radius: 3px;
    }

    .irs-handle {
      top: 13px;
      width: 16px;
      height: 16px;
      background: $secondLinearGradient;
      border: 2px solid #fff;
      border-radius: 50%;
    }

    .irs-line {
      top: 18px;
      box-sizing: border-box;
      height: 6px;
      background: #fff;
      border: $mainBorder;
      border-radius: 3px;
    }
  }
}
