extends ../../layouts/ui-kit-layout
include ../../components/text-field/text-field
include ../../components/radio/radio
include ../../components/toggle/toggle
include ../../components/rating/rating
include ../../components/checkbox/checkbox
include ../../components/bullet-list/bullet-list
include ../../components/room-info/room-info
include ../../components/checkbox-list/checkbox-list
include ../../components/button/button
include ../../components/like/like
include ../../components/comment/comment

block content
    main.form-elements
        .form-elements__container
            section.form-elements__text-fields
                .form-elements__text-field-wrapper
                    +text-field({
                        type: "email",
                        name: "email",
                        placeholder: "Email"
                    })
                .form-elements__text-field-wrapper
                    +text-field({
                        type: "text",
                        name: "text",
                        value: "This is pretty awesome",
                        placeholder: "This is pretty awesome",
                        focused: true
                    })
                .form-elements__text-field-wrapper
                    +text-field({
                        type: "text",
                        name: "date",
                        placeholder: "ДД.ММ.ГГГГ",
                        withMask: true
                    })
                .form-elements__text-field-wrapper
                    +text-field({
                        type: "text",
                        name: "date-filter",
                        placeholder: "ДД.ММ - ДД.ММ",
                        readonly: true
                    })
                .form-elements__text-field-wrapper
                    +text-field({
                        type: "Email",
                        name: "subscription",
                        placeholder: "Email",
                        isSubscription: true
                    })
                .form-elements__text-field-wrapper
                    +text-field({
                        type: "Email",
                        name: "subscription",
                        placeholder: "dd.mm.gg",
                        withArrow: true
                    })
            section.form-elements__switchers
                .form-elements__radio-wrapper
                    +radio({
                        name: "gender",
                        title: "Мужчина",
                        checked: true
                    })
                    +radio({
                        name: "gender",
                        title: "Женщина",
                    })
                .form-elements__toggle-wrapper
                    +toggle({
                        name: "special",
                        checked: true,
                        title: 'Получать спецпредложения'
                    })
                    +toggle({
                        name: "special",
                        title: 'Получать спецпредложения'
                    })
                .form-elements__rating-wrapper
                    +rating(4)
                    +rating(5)
                .form-elements__checkbox-wrapper
                    +checkbox({
                        name: 'checkbox',
                        title: 'Можно курить',
                        checked: true
                    })
                    +checkbox-list({
                        title: 'expandable checkbox list',
                        listItems: [
                            {
                                name: 'checkbox',
                                title: 'Можно курить',
                                checked: true
                            },
                            {
                                name: 'checkbox',
                                title: 'Можно курить',
                                checked: true
                            },
                        ]
                    })
                    +checkbox-list({expandable: true,
                        title: 'expandable checkbox list',
                        openned: true,
                        listItems: [
                        {
                        name: 'checkbox',
                        title: 'Широкий коридор',
                        description: 'Ширина коридоров в номере не менее 91 см.',
                        isRich: true
                        },
                        {
                            name: 'checkbox',
                            title: 'Широкий коридор',
                            description: 'Ширина коридоров в номере не менее 91 см.',
                            isRich: true
                        },
                    ]})
                .form-elements__bullet-list-wrapper
                    +bullet-list([
                        'Нельзя с питомцами',
                        'Без вечеринок и мероприятий',
                        'Время прибытия — после 13:00, а выезд до 12:00'
                    ])
                .form-elements__room-info-wrapper
                    +room-info({
                        icon: 'emoticon',
                        title: 'Комфорт',
                        subtitle: 'Шумопоглощающие стены',
                        isBottomLine: true
                    })
                    +room-info({
                        icon: 'location-city',
                        title: 'Удобство',
                        subtitle: 'Окно в каждой из спален',
                        isBottomLine: false
                    })
                .form-elements__button-wrapper
                    +button({
                        title: "click me",
                        size: "small",
                        textColor: "white",
                        type: "fill",
                    })
                    +button({
                        title: "click me",
                        size: "small",
                        textColor: "white",
                        type: "fill",
                        disabled: true
                    })
                    +button({
                        title: "click me",
                        size: "small",
                        textColor: "purple",
                        type: "border"
                    })
                    +button({
                        title: "click me",
                        size: "small",
                        textColor: "purple",
                        type: "border",
                        disabled: true
                    })
                    +button({
                        title: "click me",
                        textColor: "purple",
                        type: "text"
                    })
                    +button({
                        title: "click me",
                        textColor: "purple",
                        type: "text",
                        disabled: true
                    })
                    +button({
                        title: "перейти к оплате",
                        size: "big",
                        textColor: "white",
                        type: "fill",
                        isArrow: true
                    })
                    +button({
                        title: "перейти к оплате",
                        size: "flexible",
                        textColor: "white",
                        type: "fill"
                    })
                .form-elements__like-wrapper
                    +like({count: 12})
                    +like({count: 3, active: true})
                .form-elements__comment-wrapper
                    +comment({
                        avatarName: "murad_sarafanov.jpg",
                        nameUser: "Мурад Сарафанов",
                        commentDate: "5 дней назад",
                        likeCount: 12,
                        likeActive: true,
                        commentText: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
                    })