@import '@variables';
@import '@mixins';

.comment {
  @include font-body;

  max-width: 710px;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__avatar {
    width: 48px;
    height: 48px;
    border: 2px solid #fff;
    border-radius: 50%;
    filter: drop-shadow(0 10px 20px rgb(31 32 65 / 10%));
  }

  &__description {
    margin-left: 10px;
  }

  &__name-user {
    margin: 0;
    font-weight: 700;
  }

  &__date {
    margin: 0;
  }

  &__body {
    display: flex;
    gap: 15px;
  }

  &__like {
    padding-left: 3px;
  }

  &__text {
    margin: 0;
  }
}
