@import '../../styles/variables';

.colors {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  list-style: none;

  &__item {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  &__palette {
    width: 70px;
    height: 70px;
    border-radius: 6px;

    &_dark-shade-100 {
      background: $mainTextColor;
    }

    &_dark-shade-75 {
      background: $textColor_75;
    }

    &_dark-shade-50 {
      background: $textColor_50;
    }

    &_dark-shade-25 {
      background: $textColor_25;
    }

    &_dark-shade-5 {
      background: $textColor_5;
    }

    &_purple {
      background: $secondColor;
    }

    &_green {
      background: $thirdColor;
    }
  }

  &__description {
    font-family: $mainFont;
    line-height: calc(28 / 19);
  }

  &__title {
    margin: 0;
    font-weight: 700;
  }

  &__code {
    margin: 0;
  }
}
