@import '@variables';
@import '@mixins';

.heading {
  &__title {
    display: block;

    &_level_h1 {
      @include font-h1;

      margin: 0;
    }

    &_level_h2 {
      @include font-h2;

      margin: 0;
      text-transform: uppercase;
    }

    &_level_h3 {
      @include font-h3;

      margin: 0;
      text-transform: uppercase;
    }
  }
}
