@import "@variables";
@import "@mixins";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px 140px;
  max-width: 1440px;
  min-width: 320px;

  &__logo {

  }

  &__body {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__menu {

  }

  &__user {
    font: 400 14px/17px $mainFont;
    color: $textColor_50;
    padding: 6px 0 6px 20px;
    border-left: 1px solid rgba(31, 32, 65, 0.1);
    cursor: pointer;
  }

  &__button-signin {}

  &__button-signup {}
}