@import '@variables';
@import '@mixins';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px 140px;

  &__logo {
  }

  &__body {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__menu {
  }

  &__user {
    padding: 6px 0 6px 20px;
    color: $textColor_50;
    font: 400 14px/17px $mainFont;
    border-left: 1px solid rgb(31 32 65 / 10%);
    cursor: pointer;
  }

  &__button-signin {
  }

  &__button-signup {
  }
}
