extends ../../layouts/ui-kit-layout

include ../../components/header/header
include ../../components/footer/footer

block content
    main.headers-footers
        .header-footers__header
            +header({
            buttonLogin: 'Войти',
            buttonRegister: 'Зарегистрироваться',
            menu: {
                menuOrientation: 'horizontal',
                menuList: [
                    {
                        name: 'О нас',
                        url: '#',
                        active: true
                    },
                    {
                        name: 'Услуги',
                        expandable: true,
                        submenu: [
                            {
                                name: "Мероприятия",
                                url: "#"
                            }
                        ]
                    },
                    {
                        name: 'Вакансии',
                        url: '#'
                    },
                    {
                        name: 'Новости',
                        url: '#'
                    },
                    {
                        name: 'Соглашения',
                        expandable: true,
                        submenu: [
                            {
                                name: "Мероприятия",
                                url: "#"
                            }
                        ]
                    },
                ]
            }
        })
        .header-footers__header_signin
            +header({
            signin: true,
            userName: "Юлий Цезарь",
            menu: {
                menuOrientation: 'horizontal',
                menuList: [
                    {
                        name: 'О нас',
                        url: '#',
                        active: true
                    },
                    {
                        name: 'Услуги',
                        expandable: true,
                        submenu: [
                            {
                                name: "Мероприятия",
                                url: "#"
                            }
                        ]
                    },
                    {
                        name: 'Вакансии',
                        url: '#'
                    },
                    {
                        name: 'Новости',
                        url: '#'
                    },
                    {
                        name: 'Соглашения',
                        expandable: true,
                        submenu: [
                            {
                                name: "Мероприятия",
                                url: "#"
                            }
                        ]
                    },
                ]
            }
        })
        .header-footers__footer
            +footer({
                logo: 'logo',
                description: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
                menu: {
                    column1: {
                        menuOrientation: 'vertical',
                        titleVertical: 'навигация',
                        menuList: [
                            {
                                name: 'О нас',
                                url: ''
                            },
                            {
                                name: 'Новости',
                                url: ''
                            },
                            {
                                name: 'Служба поддержки',
                                url: ''
                            },
                            {
                                name: 'Услуги',
                                url: ''
                            },
                        ]
                    },
                    column2: {
                        menuOrientation: 'vertical',
                        titleVertical: 'о нас',
                        menuList: [
                            {
                                name: 'О сервисе',
                                url: ''
                            },
                            {
                                name: 'Наша команда',
                                url: ''
                            },
                            {
                                name: 'Вакансии',
                                url: ''
                            },
                            {
                                name: 'Инвесторы',
                                url: ''
                            },
                        ]
                    },
                    column3: {
                        menuOrientation: 'vertical',
                        titleVertical: 'Служба поддержки',
                        menuList: [
                            {
                                name: 'Соглашения',
                                url: ''
                            },
                            {
                                name: 'Сообщества',
                                url: ''
                            },
                            {
                                name: 'Связь с нами',
                                url: ''
                            },
                        ]
                    },
                },
                subscribe: {
                    title: 'Подписка',
                    text: 'Получайте специальные предложения и новости сервиса'
                },
                copyright: 'Copyright © 2018 Toxin отель. Все права защищены.',
                social: [
                    {
                        name: 'twitter',
                        url: 'https://twitter.com/'
                    },
                    {
                        name: 'facebook',
                        url: 'https://facebook.com/'
                    },
                    {
                        name: 'instagram',
                        url: 'https://instagram.com/'
                    }
                ]
            })

            +footer({
                logo: 'logo',
                copyright: 'Copyright © 2018 Toxin отель. Все права защищены.',
                social: [
                    {
                        name: 'twitter',
                        url: 'https://twitter.com/'
                    },
                    {
                        name: 'facebook',
                        url: 'https://facebook.com/'
                    },
                    {
                        name: 'instagram',
                        url: 'https://instagram.com/'
                    }
                ],
                mobile: true
            })
