@import '@variables';
@import '@mixins';

.bullet-list {
  list-style: none;

  &__item {
    @include font-body;

    color: $textColor_75;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &::before {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 10px;
      background: $textColor_25;
      border-radius: 50%;
      content: '';
    }
  }
}
