include ../logo/logo
include ../menu/menu
include ../subscribe/subscribe

mixin footer(options = {})
    -
        const {
            logo = '',
            description = "",
            menu = {},
            subscribe = {},
            copyright = "",
            social = [],
            mobile = false
        } = options

        const classTypeFooter = mobile ? 'footer_type_mobile' : '';

    footer.footer(class = classTypeFooter)
        .footer__container
            .footer__body
                section.footer__about
                    .footer__logo
                        +logo()
                    p.footer__description= description
                section.footer__menu
                    .footer__menu-column
                        +menu(menu.column1)
                    .footer__menu-column
                        +menu(menu.column2)
                    .footer__menu-column
                        +menu(menu.column3)
                section.footer__subscribe
                    +subscribe(subscribe)
            .footer__bottom
                .footer__bottom-container
                    p.footer__copyright= copyright
                    section.footer__social
                        each item in social
                            a&attributes({
                                class: [
                                    "footer__social-link",
                                    `footer__social-link_${item.name}`
                                ],
                                href: item.url,
                                target: "_blank"
                            })