@import '@variables';
@import '@mixins';

.footer {
  width: 100%;
  background: #fff;

  &__container {
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    padding: 100px 140px;
    border-bottom: 1px solid rgb(31 32 65 / 10%);
  }

  &__about {
    display: flex;
    flex-direction: column;
    max-width: 260px;
  }

  &__logo {
  }

  &__description {
    @include font-body;

    max-width: 260px;
    margin: 0;
  }

  &__menu {
    display: flex;
    gap: 57px;
    margin: 0 51px 0 40px;
  }

  &__menu-column {
    min-width: 143px;
  }

  &__subscribe {
    min-width: 260px;
    max-width: 260px;
  }

  &__bottom {
    width: 100%;
    box-shadow: 0 10px 20px rgb(31 32 65 / 5%);
  }

  &__bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 140px;
  }

  &__copyright {
    margin: 0;
    color: $textColor_75;
    font: 400 14px/17px $mainFont;
  }

  &__social {
    display: flex;
    gap: 20px;
  }

  &__social-link {
    @include icons-font;
    @include mainLinearGradient;

    font-size: 24px;

    &_twitter::before {
      content: '\e908';
    }

    &_facebook::before {
      content: '\e902';
    }

    &_instagram::before {
      content: '\e906';
    }
  }

  &_type_mobile {
    .footer__menu,
    .footer__subscribe,
    .footer__description {
      display: none;
    }

    .footer__body {
      gap: 20px;
      justify-content: center;
      padding: 0;
      border: none;
    }

    .footer__bottom-container {
      flex-direction: column;
      gap: 25px;
      padding: 0;
    }
  }

  @media screen and (max-width: 768px) {
    &__menu,
    &__subscribe,
    &__description {
      display: none;
    }

    &__body {
      gap: 20px;
      justify-content: center;
      padding: 0;
      border: none;
    }

    &__bottom-container {
      flex-direction: column;
      gap: 25px;
      padding: 0;
    }
  }
}
