@import '@variables';
@import '@mixins';

.toggle {
  position: relative;
  display: flex;
  align-items: center;
  color: $textColor_75;
  cursor: pointer;

  &__box {
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: #fff;
    border: $mainBorder;
    border-radius: 10px;

    &::before {
      position: absolute;
      top: 3px;
      left: 4px;
      width: 12px;
      height: 12px;
      background: $textColor_25;
      border-radius: 50%;
      transition: 0.4s;
      content: '';
    }
  }

  &__input {
    @include hide-default-box;

    &:checked + .toggle__box,
    &:hover + .toggle__box,
    &:focus + .toggle__box {
      border-color: $secondColor;
    }

    &:checked + .toggle__box::before {
      background: $mainLinearGradient;
      transform: translateX(20px);
    }
  }

  &__title {
    @include font-body;

    margin-left: 50px;
  }
}
