mixin toggle(options = {})
    -
        const {
            name = '',
            title = '',
            checked = false
        } = options

    label.toggle
        input&attributes({
            name: name,
            type: 'checkbox',
            class: 'toggle__input',
            checked: checked
        })
        span.toggle__box
        span.toggle__title= title