extends ../../layouts/ui-kit-layout

include ../../components/signup-card/signup-card
include ../../components/signin-card/signin-card
include ../../components/calendar/calendar

block content
    +calendar()
    +signin-card({
        title: 'Войти',
        loginInput: {
            type: 'email',
            name: 'email',
            placeholder: 'Email',
            required: true,
            autocomplete: 'email',
            autofocus: true
        },
        passwordInput: {
          type: 'password',
          name: 'password',
          placeholder: 'Пароль',
          required: true,
          autocomplete: 'new-password'
        },
        buttonSignin: {
            title: 'войти',
            size: 'big',
            textColor: 'white',
            variantButton: 'fill',
            type: 'submit',
            isArrow: true
        },
        question: {
          text: 'Нет аккаунта на Toxin?',
          button: {
            title: 'создать',
            size: 'small',
            textColor: 'purple',
            variantButton: 'border',
            url: '#'
          }
        }
    })
    +signup-card({
      title: 'Регистрация аккаунта',
      name: {
        name: 'name',
        type: 'text',
        placeholder: 'Имя',
        required: true,
        autocomplete: 'name',
      },
      surname: {
        name: 'surname',
        type: 'text',
        placeholder: 'Фамилия',
        required: true,
        autocomplete: 'surname'
      },
      gender: {
        man: {
          name: 'gender',
          title: 'Мужчина',
          checked: true
        },
        woman: {
          name: 'gender',
          title: 'Женщина'
        }
      },
      birthday: {
        name: 'birthday',
        type: 'text',
        placeholder: 'ДД.ММ.ГГГГ',
        withMask: true,
        required: true,
        autocomplete: 'bday'
      },
      email: {
        name: 'email',
        type: 'email',
        placeholder: 'Email',
        required: true,
        autocomplete: 'email'
      },
      password: {
        name: 'password',
        type: 'password',
        placeholder: 'Пароль',
        required: true,
        autocomplete: 'current-password'
      },
      special: {
        name: 'special',
        title: 'Получать спецпредложения'
      },
      submit: {
        title: 'перейти к оплате',
        size: 'big',
        textColor: 'white',
        variantButton: 'fill',
        type: 'submit',
        isArrow: true
      },
      question: {
        text: 'Уже есть аккаунт на Toxin',
        button: {
          title: 'войти',
          size: 'small',
          textColor: 'purple',
          variantButton: 'border',
          url: '#'
        }
      }
    })


